* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    color: #1f2937;
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 32px;
    color: #1F2937;
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: #1F2937;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* Poistaa alaviivat linkeistä */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 24px;
    font-family: Georgia, serif;
    font-weight: bold;
    color: #1F2937;
}

.hamburger {
    font-size: 28px;
    cursor: pointer;
    display: block;
}

/* Profile card */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
}

.profile-card {
    text-align: center;
    padding: 20px;
    background-color: #e7dddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 350px;
    margin-top: 150px;
    margin-bottom: 75px;
}

.profile-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-card h2 {
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
}

.profile-card p {
    font-size: 16px;
    color: #4f4f4f;
}

.resume-btn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    background-color: #007bff;
    color: white;
}

.projects-btn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #333;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    background-color: #030303;

}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.social-icons img {
    border-radius: 0;
    width: 20px;
    height: 20px;
}

.about-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f3f3f3;
    margin: 0 auto;

}

.about-content h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about-content p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

/* Footer */
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 0px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 0 10px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    /* Keskittää kontaktitiedot */
}

.contact-info div {
    text-align: center;
    font-size: 16px;
    width: 100%;
    /* Varmista, että molemmat mahtuvat riville */
}

.contact-call {
    text-align: center;
    width: 100%;
}

.contact-call p {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
}

.social-icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    /* Etäisyys ikonien välillä */
}

.social-icons-footer a {
    display: inline-block;
}

.social-icons-footer img {
    width: 18px;
    height: 18px;
}

/* Mobile styles */
@media (min-width: 768px) {
    h1 {
        font-family: 'Georgia', serif;
        font-size: 48px;
        color: #1F2937;
    }

    h2 {
        font-family: 'Georgia', serif;
        font-size: 36px;
        color: #1F2937;
    }

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        color: #4F4F4F;
    }

    a {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-decoration: none;
        /* Poistaa alaviivat linkeistä */
    }

    form {
        max-width: 600px;
        /* Aseta lomakkeelle maksimileveys suuremmilla näytöillä */
        margin: 0 auto;
        /* Keskittää lomakkeen suuremmilla näytöillä */
    }

    form input,
    form textarea,
    form button {
        font-size: 18px;
        /* Isompi fonttikoko suuremmilla näytöillä */
        padding: 15px;
        /* Lisää täyttöä kenttiin suuremmilla näytöillä */
    }

    .contact-section {
        min-height: 900px;
    }
}



.desktop-nav {
    display: none;
}

.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #e7dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s ease;
}

.nav-links ul {
    list-style: none;
    text-align: center;
}

.nav-links ul li {
    margin: 30px 0;
}

.nav-links ul li a {
    color: #2b58f9;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: #2b58f9;
    cursor: pointer;
}

/* Yhteydenottolomakkeen perusasettelu */
form {
    display: flex;
    flex-direction: column;
    /* Asettaa kaikki kentät allekkain */
    max-width: 500px;
    /* Maksimileveys lomakkeelle */
    margin: 100px auto;
    /* Keskittää lomakkeen */
    padding: 20px;
    width: 100%
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #1F2937;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
}

button:hover {
    background-color: #333;
}

.resume-section {
    text-align: center;
    margin: 70px auto;
    max-width: 700px;
    /* Rajoitetaan elementin leveys */
    word-wrap: break-word;
    /* Teksti katkaistaan, jos se ei mahdu riville */
    white-space: normal;
    /* Sallii tekstin rivittymisen normaalisti */
    background-color: #e7dddd;
    padding: 40px;
    margin-bottom: 0;
    padding-top: 100px;
}

.portfolio-section {
    text-align: center;
    margin: 70px auto;
    max-width: 700px;
    /* Rajoitetaan elementin leveys */
    word-wrap: break-word;
    /* Teksti katkaistaan, jos se ei mahdu riville */
    white-space: normal;
    /* Sallii tekstin rivittymisen normaalisti */
    background-color: #e7dddd;
    padding: 40px;
    margin-bottom: 0;
    padding-top: 100px;
}

.portfolio-section h1,
h2 {
    text-align: left;
    margin-bottom: 20px;
}

.project img {
    width: 300px;
    /* Aseta haluamasi leveys */
    height: 200px;
    /* Aseta haluamasi korkeus */
    object-fit: cover;
    /* Estää kuvan venymisen väärissä mittasuhteissa */
    margin: 10px;
    /* Varmistaa tilan kuvien välillä */
}

a {
    text-decoration: none;
    /* Poistaa alaviivan linkistä */
    color: inherit;
    /* Säilyttää vanhemman elementin tekstin värin */
    font: inherit;
    /* Säilyttää vanhemman elementin fonttimuotoilut */
}

.contact-section {
    padding-left: 15px;
    /* Lisää tilaa vasemmalle */
    padding-right: 15px;
    /* Lisää tilaa oikealle */
    height: 800px;
}

.resume-section h1,
h2 {
    text-align: left;
    margin-bottom: 20px;
}

.work-experience,
.education-experience {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    margin-bottom: 20px;
}

.job-info,
.education-info {
    width: 30%;
}

.job-description,
.education-description {
    width: 65%;
}

.job-info h4,
.education-info h4 {
    color: #2b58f9;
    /* Voit valita haluamasi värin */
    font-weight: bold;
}

.job-info p,
.education-info p,
.job-description p,
.education-description p {
    margin: 5px 0;
    color: #333;
}

.expertise-languages h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.skills-grid,
.languages-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* Lisää väliä sarakkeiden ja rivien väliin */
    margin-bottom: 40px;
}

.skill-item,
.language-item {
    display: flex;
    align-items: center;
}

.skill-icon {
    width: 10px;
    height: 10px;
    background-color: #2b58f9;
    /* Sininen neliö */
    margin-right: 10px;
    display: inline-block;
}

.contact-section {
    background-color: #e7dddd;
    margin-bottom: 0px;
}

.blue-dot {
    display: inline-block;
    width: 12px;
    /* Aseta täpän leveys */
    height: 12px;
    /* Aseta täpän korkeus */
    background-color: #2b58f9;
    /* Sininen väri */
    border-radius: 0;
    /* Tekee täpästä pyöreän */
    margin-right: 10px;
    /* Lisää hieman tilaa täpän ja tekstin väliin */
}